---
import { Image } from 'astro:assets'
import Pill from '@/components/Pill/Pill.astro'
import { highlightToHTMLTag } from '@/tools'
import FlatLogo from './flat-logo.svg'
import jsonData from '@/content/data.json'

const { data, img } = jsonData.pages.home.sections.about.data.profProfile
const { text, englishLevel } = data
---

<section>
  <Image src={FlatLogo} alt={img.alt} loading="eager" />
  <div class="bg card layout">
    <p class="text" set:html={highlightToHTMLTag(text)} />
  </div>
  <ul class="items">
    <Pill faIcon="fa-solid fa-comment-dots" size="s">
      <p>Ingles {englishLevel}</p>
    </Pill>
  </ul>
</section>
