---
import './About.css'
import Section from '@/layouts/Section/Section.astro'
import Tabbed from '@/layouts/Tabbed/Tabbed.astro'
import Hi from './components/Hi/Hi.astro'
import ProfProfile from './components/ProfProfile/ProfProfile.astro'
import KnowMore from './components/KnowMore/KnowMore.astro'
import jsonData from '@/data.json'

const { sections } = jsonData.pages.home
const sectionKey: keyof typeof sections = 'about'

const { about } = sections
const { title, strong, faIcon, data } = about

const titles = Object.values(data).map(item => item.title)
---

<Section {...{ sectionKey, title, strong, faIcon }} main>
  <Tabbed id={sectionKey} {titles}>
    <Hi />
    <ProfProfile />
    <KnowMore />
  </Tabbed>
</Section>
