---
import * as BackgroundStyled from "./Background.styled";
import ParticleMotion from "./components/ParticleMotion/ParticleMotion";
---

<!-- TODO: semantica HTML -->
<BackgroundStyled.Component>
  <div class="background"></div>
  <ParticleMotion client:load />
  <ParticleMotion
    client:load
    gapBetween={500}
    handlingClass={["center-particles"]}
  />
  <ParticleMotion client:load />
</BackgroundStyled.Component>
