---
import * as BackgroundStyled from "./Background.styled";
import ParticleMotion from "./components/ParticleMotion/ParticleMotion.astro";
---

<BackgroundStyled.Component>
  <span class="background"></span>
  <ParticleMotion />
  <ParticleMotion gapBetween={500} handlingClass={["center-particles"]} />
  <ParticleMotion />
</BackgroundStyled.Component>
