:root {
  --cmp-separator-long: auto;
  --cmp-separator-thick: 0.0625rem;
}

.cmp-separator {
  --gradient-direction: to left;

  flex-shrink: 0;

  border: none;
  width: var(--cmp-separator-long);
  height: var(--cmp-separator-thick);

  background-image: linear-gradient(
    var(--gradient-direction),
    transparent,
    var(--pal-color-white),
    transparent
  );

  &.invert {
    --gradient-direction: to top;

    width: var(--cmp-separator-thick);
    height: var(--cmp-separator-long);
  }
}
