---
import './TypePill.css'
import Pill from '../Pill/Pill.astro'
import jsonData from '@/content/data.json'
import Icon from '../Icon/Icon.astro'

const { types } = jsonData.pages.home.sections.experiences.data

export type TypeKey = keyof typeof types

export interface Props {
  key: TypeKey
}

const { key } = Astro.props
---

<Pill size="s" handlingClass={['type', key].join(' ')}>
  <Icon faIcon={types[key].faIcon} />
  <p>{types[key].title}</p>
</Pill>
