.cmp-pill.type {
  font-weight: 500;
  color: var(--pal-color-gs-900);

  &.job {
    --cls-bg-color: var(--pal-color-a-l2);
  }

  &.freelance-project {
    --cls-bg-color: var(--pal-color-c-l2);
  }

  &.personal-project {
    --cls-bg-color: var(--pal-color-b-l2);
  }

  &.academic-project {
    --cls-bg-color: var(--pal-color-gs-100);
  }
}
