---
import Section from "@/layouts/Section/Section.astro";
import * as ContactStyled from "./Contact.styled";
import Icon from "@/components/Icon/Icon.astro";
import ContactLink from "@/components/ContactLink/ContactLink.astro";
import { VARS } from "@/styles";
import { highlightToHTMLTag } from "@/tools";
import jsonData from "@/data.json";

const { sections } = jsonData.pages.home;
const sectionKey: keyof typeof sections = "contact";

const { contact } = sections;
const { title } = contact;
const { desc, email } = contact.data;
---

<Section sectionKey={sectionKey} title={title}>
  <ContactStyled.Component>
    <p class="text" set:html={highlightToHTMLTag(desc)} />
    <div class="email-bar">
      <p class="email">{email}</p>
      <div class="controls">
        <button id="button-copy-email" title="Copiar">
          <Icon
            iconName="fa-solid fa-copy"
            style={{ size: VARS.component.button.s.iconSize }}
            handlingClass={["copy"]}
          />
          <Icon
            iconName="fa-solid fa-check"
            style={{ size: VARS.component.button.s.iconSize }}
            handlingClass={["check"]}
          />
        </button>
        <ContactLink emailSender />
      </div>
    </div>
  </ContactStyled.Component>
</Section>

<script>
  import { sleep } from "@/tools";
  import jsonData from "@/data.json";

  const { email } = jsonData.pages.home.sections.contact.data;

  const buttonCopyEmail = window["button-copy-email"] as
    | HTMLButtonElement
    | undefined;

  if (buttonCopyEmail) {
    buttonCopyEmail.dataset.copying = String(false);

    const handleClick = async () => {
      if (buttonCopyEmail.dataset.copying === String(false)) {
        try {
          await navigator.clipboard.writeText(email);

          buttonCopyEmail.dataset.copying = String(true);

          await sleep(2000);

          buttonCopyEmail.dataset.copying = String(false);
        } catch (error) {}
      }
    };

    buttonCopyEmail.addEventListener("click", handleClick);
  }
</script>
