---
import * as NodeStyled from "./Node.styled";
import { Image } from "astro:assets";
import Separator, {
  type Props as SeparatorProps,
} from "@/components/Separator/Separator.astro";
import { FONT_SIZE, VARS } from "@/styles";
import { asClassName } from "@/tools";
import {
  getImgMetadata,
  validateImgMetadata,
  type Folder,
} from "@/tools/getImgMetadata.tool";

interface DataNode {
  items: {
    name: string;
    file: string;
    invertInBrightMode?: boolean;
    invertInDarkMode?: boolean;
  }[];
  skillLevel: number;
  techs?: DataNode[];
}

interface Props {
  dataNode: DataNode;
  level?: number;
}

const { dataNode, level = 0 } = Astro.props;
const { items, skillLevel, techs } = dataNode;

const folder: Folder = "skills";

items.forEach(({ file }) => validateImgMetadata(folder, file));

const separatorProps: SeparatorProps = {
  style: {
    invert: true,
    long: FONT_SIZE.xs,
    color: {
      light: VARS.color.a.line.light,
      dark: VARS.color.a.line.dark,
    },
  },
};
---

<!-- TODO: semantica HTML -->
<NodeStyled.Component>
  <div
    class={`tech skill-level-${skillLevel - 1}`}
    style={`--level: ${level};`}
  >
    <div class="names">
      {
        items.map(({ name }, index) => (
          <>
            <div class="name">{name}</div>
            {index !== items.length - 1 && <Separator {...separatorProps} />}
          </>
        ))
      }
    </div>
    <div class="graphics">
      <div class="icons">
        {
          items.map(({ name, file, invertInDarkMode }, index) => (
            <>
              <Image
                class={asClassName(
                  "icon",
                  invertInDarkMode ? "invert-in-dark-mode" : "",
                )}
                src={getImgMetadata(folder, file)()}
                alt={`Logo de ${name}`}
              />
              {index !== items.length - 1 && <Separator {...separatorProps} />}
            </>
          ))
        }
      </div>
      <div class="level-bar">
        <div class="bar" style={{ width: `${(skillLevel / 3) * 100}%` }}></div>
      </div>
    </div>
  </div>
  {
    techs && (
      <ul class="child-tech">
        {techs?.map((item, index) => (
          <li class="item">
            <div class="child-group">
              <div class="bullet-point-container">
                <div class="box" />
                {index !== techs?.length - 1 && (
                  <div class="next-extension line" />
                )}
              </div>
              <Astro.self dataNode={item} level={level + 1} />
            </div>
            {index !== techs?.length - 1 && (
              <div class="extension-container">
                <div class="extension line" />
              </div>
            )}
          </li>
        ))}
      </ul>
    )
  }
</NodeStyled.Component>
