
.cmp-node {
  --gap-s: var(--pal-size-2xs);
  --bar-height: var(--pal-size-l);
  --tech-padding: var(--gap-s);
  --tech-height: calc(var(--tech-padding) * 2 + var(--bar-height));
  --bullet-point-width: var(--pal-size-l);
  --bullet-point-node-gap: var(--gap-s);

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: var(--gap-s);

  .tech {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--gap-s) * 3);
    padding: var(--tech-padding);
    padding-left: calc(var(--tech-padding) * 2);
    border-radius: var(--pal-size-2xs);

    transition:
      background-color var(--pal-time-s) ease-out,
      opacity var(--pal-time-s) ease-out;

    &:hover {
      background-color: var(--pal-color-gs-850);

      .names {
        color: ${COLOR.gs_18};
      }
    }

    .names {
      display: flex;
      align-items: center;
      gap: calc(var(--gap-s) * 2);
      width: calc(
        var(--names-max-width) -
          (var(--bullet-point-node-gap) + var(--bullet-point-width)) *
          var(--node-level)
      );

      transition: color var(--pal-time-s) ease-out;

      .name {
        font-size: var(--pal-size-font-xs);

        white-space: nowrap;
      }
    }

    .graphics {
      flex-grow: 0.5;

      display: flex;
      align-items: center;
      gap: calc(var(--gap-s) * 3);
      justify-content: space-between;

      .icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--gap-s);
        width: var(--icons-max-width);

        .icon {

          aspect-ratio: 1;
          width: var(--pal-size-l);
          height: auto;

          object-fit: contain;

          transition: filter var(--pal-time-s) ease-out;
        }

        .invert-in-dark-mode {
          --invert-in-dark-mode: invert(0.5) brightness(180%);
        }
      }

      .level-bar {
        flex-grow: 1;

        min-width: calc(var(--bar-height) * var(--levels));

        .bar {
          height: var(--bar-height);
          border-radius: var(--pal-size-2xs);

          background-color: var(--pal-color-a);
        }
      }
    }

    @media (width < 32rem) {
      .names {
        display: none;
      }

      .graphics {
        flex-grow: 1;

        gap: var(--bar-height);

        .icons {
          justify-content: flex-start;
          width: calc(
            var(--icons-max-width) -
              (var(--bullet-point-node-gap) + var(--bullet-point-width)) *
              var(--node-level)
          );
        }

        .level-bar {
          flex-grow: 1;
        }
      }
    }
  }

  .techs-children {
    display: flex;
    flex-direction: column;

    > li {
      display: flex;
      gap: var(--bullet-point-node-gap);

      :not(:nth-last-of-type(1)) {
        --techs-children-gap: var(--gap-s);

        .bullet-point .line {
          width: .0625rem;
        }
      }

      .bullet-point {
        --line-color: var(--pal-color-gs-400);

        position: relative;
        width: var(--bullet-point-width);
        height: calc(var(--tech-height) + var(--techs-children-gap));

        > * {
          position: absolute;
          left: 50%;
        }

        .box {
          width: var(--pal-size-2xs);
          height: calc(var(--tech-height) / 2);
          border-bottom-left-radius: var(--pal-size-2xs);

          border-width: 0;
          border-left-width: .0625rem;
          border-bottom-width: .0625rem;
          border-style: solid;
          border-color: var(--line-color);

          transition: border-color var(--pal-time-s) ease-out;
        }

        .line {
          width: .0625rem;
          height: 100%;

          background-color: var(--line-color);

          transition: background-color var(--pal-time-s) ease-out;
        }
      }
    }
  }

  /* body[data-dark-mode="true"] & {
    .tech {
      &:hover {
        background-color: ${COLOR.gs_14};

        .names {
          color: ${COLOR.gs_0};
        }
      }

      .graphics .icons .icon {
        filter: var(--invert-in-dark-mode);
      }
    }

    .techs-children > li .bullet-point {
      --line-color: ${VARS.color.a.line.dark};
    }
  } */
}
