---
import * as HamburgerStyled from "./Hamburger.styled";
---

<HamburgerStyled.Component id="hamburger" title="Abrir menú">
  <span class="hamburger-icon">
    <span class="bar top"></span>
    <span class="bar mid"></span>
    <span class="bar bot"></span>
  </span>
  <span class="x-icon">
    <span class="bar a"></span>
    <span class="bar b"></span>
  </span>
</HamburgerStyled.Component>

<script>
  import { bodyManager } from "@/tools/elementManagers.tool";

  bodyManager.setData("hamburgerMenuIsOpen", String(false));

  const hamburger = window.hamburger as HTMLButtonElement;

  const handleClick = () => {
    const inversedHamburgerMenuIsOpen = !(
      bodyManager.getData("hamburgerMenuIsOpen") === String(true)
    );

    hamburger.title = inversedHamburgerMenuIsOpen
      ? "Cerrar menú"
      : "Abrir menú";

    bodyManager.setData(
      "hamburgerMenuIsOpen",
      String(inversedHamburgerMenuIsOpen),
    );
  };

  hamburger.addEventListener("click", handleClick);
</script>
