---
import * as HamburgerStyled from "./Hamburger.styled";
---

<HamburgerStyled.Component id="hamburger" title="Abrir menú">
  <span class="hamburger-icon">
    <span class="bar top"></span>
    <span class="bar mid"></span>
    <span class="bar bot"></span>
  </span>
  <span class="x-icon">
    <span class="bar a"></span>
    <span class="bar b"></span>
  </span>
</HamburgerStyled.Component>

<script>
  import { hamburgerMenuManager } from "@/tools/elementManagers.tool";

  const hamburger = window.document.querySelector<HTMLElement>("#hamburger");

  hamburger?.addEventListener("click", () => {
    const isOpenReversed = !(hamburgerMenuManager.data.isOpen.get() === "true");

    hamburger.title = isOpenReversed ? "Cerrar menú" : "Abrir menú";

    hamburgerMenuManager.data.isOpen.set(String(isOpenReversed));
  });
</script>
