---
import './Pill.css'
import Icon from '../Icon/Icon.astro'

export interface Props {
  faIcon?: string
  emoji?: string
  size?: 's' | 'm'
  handlingClass?: string
}

const { faIcon, emoji, size, handlingClass } = Astro.props
---

<div class:list={['cmp-pill', size, { bg: size !== undefined }, handlingClass]}>
  {faIcon && <Icon faIcon={faIcon} />}
  {emoji && <span>{emoji}</span>}
  <slot />
</div>
