---
import * as LeftNavStyled from "./LeftNav.styled";
import SocialNetwork from "@/components/SocialNetwork/SocialNetwork.astro";
import Separator from "@/components/Separator/Separator.astro";
import ToggleDarkMode from "@/components/ToggleDarkMode/ToggleDarkMode.astro";
import ContactLink from "@/components/ContactLink/ContactLink.astro";
import { VARS } from "@/styles";
import jsonData from "@/data.json";

const { externalNetwork } = jsonData;
---

<LeftNavStyled.Component>
  <nav>
    {
      [
        ...externalNetwork.map(({ url, iconName, title }) => (
          <SocialNetwork
            href={url}
            iconName={iconName}
            title={`Ir al perfil de ${title}`}
          />
        )),
        <ContactLink />,
      ].map((item, index) => (
        <div style={`--i: ${externalNetwork.length - index + 1}`}>{item}</div>
      ))
    }
    <Separator
      style={{
        color: {
          light: VARS.color.a.line.light,
          dark: VARS.color.a.line.dark,
        },
      }}
    />
  </nav>
  <ToggleDarkMode />
</LeftNavStyled.Component>
