---
import * as LeftNavStyled from "./LeftNav.styled";
import SocialNetwork from "@/components/SocialNetwork/SocialNetwork.astro";
import Separator from "@/components/Separator/Separator.astro";
import ToggleDarkMode from "@/components/ToggleDarkMode/ToggleDarkMode.astro";
import ContactLink from "@/components/ContactLink/ContactLink.astro";
import { COLOR_BRIGHT_A, COLOR_DARK_A } from "@/styles";
import jsonData from "@/data.json";

const { externalNetwork } = jsonData;
---

<!-- TODO: semantica HTML -->
<LeftNavStyled.Component>
  <nav class="nav">
    {
      [
        ...externalNetwork.map(({ url, iconName, title }) => (
          <SocialNetwork
            href={url}
            iconName={iconName}
            title={`Ir al perfil de ${title}`}
          />
        )),
        <ContactLink />,
      ].map((item, index) => (
        <div style={`--i: ${externalNetwork.length - index}`}>{item}</div>
      ))
    }
    <Separator
      style={{
        backgroundColor: { dark: COLOR_DARK_A, bright: COLOR_BRIGHT_A },
      }}
    />
  </nav>
  <ToggleDarkMode />
</LeftNavStyled.Component>
