#about {
  container: about / inline-size;

  .cmp-tabbed {
    --img-size: clamp(12rem, 30%, 19rem);

    img {
      position: absolute;
      right: 0;
      bottom: calc(100% - var(--pal-size-l));

      align-self: center;

      width: var(--img-size);
      height: auto;

      border-radius: 50%;
      box-shadow: var(--pal-shadow-1);

      @container (width < 35rem) {
        position: relative;
      }
    }

    .line {
      @container (35rem <= width) {
        width: calc(100% - (var(--img-size) + var(--layout-gutter)));
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: var(--layout-gutter);

      .items {
        display: flex;
        gap: var(--pal-size-s);
      }
    }
  }
}
