.cmp-work {
  display: flex;
  flex-direction: column;
  gap: calc(var(--layout-gutter) * 2);

  > .cmp-auto-bg-image {
    aspect-ratio: 21 / 9;
  }

  > .props {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--layout-gutter);
    column-gap: calc(var(--layout-gutter) * 2);

    /* --cls-bg-color: var(--pal-color-d-l2); */
  }
}
