---
import './Work.css'
import Section from '@/layouts/Section/Section.astro'
import WorkItem from './components/WorkItem/WorkItem.astro'
import jsonData from '@/data.json'
import { getCollection } from 'astro:content'

const { sections } = jsonData.pages.home
const sectionKey: keyof typeof sections = 'works'

const { title, strong, faIcon } = sections.works

const works = await getCollection('works')
---

<Section sectionKey={sectionKey} {...{ title, strong, faIcon }}>
  <nav>
    {works.map(item => <WorkItem {...item.data} />)}
  </nav>
</Section>
