---
import * as WorkStyled from './Work.styled'
import Section from '@/layouts/Section/Section.astro'
import WorkItem from './components/WorkItem/WorkItem.astro'
import jsonData from '@/data.json'

const { sections } = jsonData.pages.home
const sectionKey: keyof typeof sections = 'works'

const { title, strong, faIcon, data } = sections.works
const { items } = data
---

<Section sectionKey={sectionKey} {...{ title, strong, faIcon }}>
  <WorkStyled.Component>
    {
      items.map(item => (
        <li>
          <WorkItem {...item} />
        </li>
      ))
    }
  </WorkStyled.Component>
</Section>
