---
import './Works.css'
import Section from '@/layouts/Section/Section.astro'
import WorkItem from './components/WorkItem/WorkItem.astro'
import { getCollection } from 'astro:content'
import jsonData from '@/data.json'

const { sections } = jsonData.pages.home
const sectionKey: keyof typeof sections = 'works'

const { title, strong, faIcon } = sections.works

const works = await getCollection('works')
---

<Section {...{ sectionKey, title, strong, faIcon }}>
  <nav>
    {works.map(({ slug: id, data }) => <WorkItem {id} {...data} />)}
  </nav>
</Section>
