---
import './Hamburger.css'
---

<button class="cmp-hamburger" title="Abrir menú">
  <span class="hamburger-icon">
    <span class="bar top"></span>
    <span class="bar mid"></span>
    <span class="bar bot"></span>
  </span>
  <span class="x-icon">
    <span class="bar a"></span>
    <span class="bar b"></span>
  </span>
</button>
