.education-item {
  flex-direction: column;
  justify-content: space-between;

  > ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--pal-size-xs);
    column-gap: var(--pal-size-xl);
  }
}
