---
import './Section.css'
import Icon from '@/components/Icon/Icon.astro'

interface Props {
  sectionKey: string
  title: string
  span: string
  faIcon: string
}

const { sectionKey, title, span, faIcon } = Astro.props
---

<section id={sectionKey}>
  <header>
    <div class="bullet">
      <Icon faIcon={faIcon} />
    </div>
    <h2 class="text">
      {title}
      <span>{span}</span>
    </h2>
  </header>
  <slot />
</section>
