.cmp-link {
  text-decoration: none;

  transition: color var(--pal-time-s) ease-out;

  &:hover {
    color: var(--pal-color-white);
  }

  body[data-dark-mode="true"] & {
    &:hover {
      /* color: ${COLOR.gs_0}; */
    }
  }
}
