---
import './ParticleMotion.css'

interface Props {
  basicSeparation?: number
}

const { basicSeparation = 625 } = Astro.props
---

<span class="cmp-particle-motion" data-basic-separation={basicSeparation}
></span>

<script>
  import { debounce, randomInt, dropRandom, $$ } from '@/tools'

  const particleMotions = $$<HTMLElement>('.cmp-particle-motion')

  const SIZES = [80, 128, 256]
  const COLORS = ['a', 'b']
  const BPM = 120
  const TIME_FACTORS = [2, 4, 8]

  const handleResize = () => {
    particleMotions.forEach(particleMotion => {
      const { clientWidth, clientHeight, dataset } = particleMotion

      let step: undefined | string | number = dataset.basicSeparation

      if (step === undefined) return

      // Eliminar los elementos anteriores
      while (particleMotion.firstChild)
        particleMotion.removeChild(particleMotion.firstChild)

      const configElements: {
        top: number
        left: number
        vars: {
          size: number
          backgroundColor: string
          animation: { duration: number }
        }
      }[] = []

      step = Number(step)

      for (let top = 0; top < clientHeight; top += step) {
        const left = randomInt({ min: -SIZES[1], max: clientWidth })

        configElements.push({
          top,
          left,
          vars: {
            size: dropRandom(SIZES),
            backgroundColor: dropRandom(COLORS),
            animation: {
              duration: (60 / BPM) * dropRandom(TIME_FACTORS),
            },
          },
        })
      }

      configElements.forEach(({ top, left, vars }) => {
        const { size, backgroundColor, animation } = vars
        const { duration } = animation

        const particle = window.document.createElement('span')

        particle.className = 'particle'
        particle.style.top = `${top / 16}rem`
        particle.style.left = `${left / 16}rem`
        particle.style.setProperty('--size', `${size / 16}rem`)
        particle.style.setProperty('--animation-duration', `${duration}s`)
        particle.style.setProperty(
          '--background-color',
          `var(--pal-color-base-${backgroundColor})`
        )

        particleMotion.appendChild(particle)
      })
    })
  }

  handleResize()

  // Evento de redimensionamiento con debounce para optimizarlo
  window.addEventListener('resize', debounce(handleResize, 400))
</script>
