@keyframes kick {
  to {
    scale: 1.375;
  }
}

@keyframes float {
  to {
    translate: 0 150dvh;
    /* BUG: en páginas cortas el desplazamiento es demasiado */
  }
}

.cmp-particle-motion {
  width: 100%;
  height: 100%;

  animation: float linear both;
  animation-timeline: scroll(root);

  .particle {
    position: absolute;

    aspect-ratio: 1;
    width: calc(var(--size) * 2);

    background-image: radial-gradient(
      rgba(var(--background-color), 0.125),
      transparent 70%,
      transparent
    );

    animation: kick calc((60s / var(--bpm)) * var(--time-factor)) ease-in
      infinite alternate;
  }
}
