---
import './Education.css'
import Section from '@/layouts/Section/Section.astro'
import EducationItem from './components/EducationItem/EducationItem.astro'
import jsonData from '@/data.json'

const { sections } = jsonData.pages.home
const sectionKey: keyof typeof sections = 'education'

const { education } = sections
const { title, strong, faIcon, data } = education
const { items } = data
---

<Section sectionKey={sectionKey} {...{ title, strong, faIcon }}>
  <ul class="education">
    {items.map(item => <EducationItem {...item} />)}
  </ul>
</Section>
