---
import './Tabbed.css'

interface Props {
  titles: string[]
  handlingClass?: string
}

const { titles, handlingClass } = Astro.props
---

<article class:list={['tabbed', handlingClass]}>
  <header>
    <div class="nav">
      <span class="bg-indicator bg"></span>
      <fieldset>
        {
          titles.map((title, index) => (
            <label>
              <input type="radio" name="sections" checked={index === 0} />
              {title}
            </label>
          ))
        }
      </fieldset>
    </div>
    <span class="line"></span>
  </header>
  <ol class="element-slider">
    <slot />
  </ol>
</article>

<script>
  import { $$, asRem } from '@/tools'

  const ACTIVE_CLASS = 'active'
  const INIT_INDEX = 0

  const tabbeds = $$('.tabbed')

  tabbeds.forEach(tabbed => {
    const elementSlider = tabbed.querySelector<HTMLElement>('.element-slider')
    const indicator = tabbed.querySelector<HTMLElement>('.bg-indicator')

    if (!elementSlider || !indicator) return

    const labels = tabbed.querySelectorAll('label')
    const items = Array.from<HTMLElement>(
      elementSlider.querySelectorAll(':scope > li')
    )
    const radios = tabbed.querySelectorAll<HTMLInputElement>(
      'input[type="radio"]'
    )

    const moveIndicator = (index: number) => {
      const label = labels[index]
      const labelRect = label.getBoundingClientRect()

      indicator.style.left = asRem(label.offsetLeft)
      indicator.style.width = asRem(labelRect.width)
    }

    // Inicializar
    let itemActive = items[INIT_INDEX]
    itemActive.classList.add(ACTIVE_CLASS)
    moveIndicator(INIT_INDEX)

    // TODO: desactivar los radios mientras se esten produciendo las transisiones

    radios.forEach((radio, index) => {
      radio.onchange = () => {
        const newItemActive = items[index]

        itemActive.ontransitionend = () => {
          itemActive.ontransitionend = null

          newItemActive.classList.add(ACTIVE_CLASS)
          itemActive = newItemActive
        }

        itemActive.classList.remove(ACTIVE_CLASS)
        moveIndicator(index)
      }
    })

    const resizeObserver = new ResizeObserver(() => {
      const maxHeight = Math.max(...items.map(item => item.clientHeight))
      elementSlider.style.height = asRem(maxHeight)
    })

    resizeObserver.observe(elementSlider)
  })
</script>
