---
import './Skills.css'
import Section from '@/layouts/Section/Section.astro'
import Treeview from './components/Treeview/Treeview.astro'
import Levels from './components/Levels/Levels.astro'
import jsonData from '@/data.json'

const { home } = jsonData.pages
const sectionKey: keyof typeof home.sections = 'skills'

const { title, strong, faIcon } = home.sections.skills
---

<Section {...{ sectionKey, title, strong, faIcon }}>
  <Treeview />
  <Levels />
</Section>
