---
import Section from '@/layouts/Section/Section.astro'
import * as SkillsStyled from './Skills.styled'
import Treeview from './components/Treeview/Treeview.astro'
import Levels from './components/Levels/Levels.astro'
import jsonData from '@/data.json'

const { home } = jsonData.pages
const sectionKey: keyof typeof home.sections = 'skills'

const { title, strong, faIcon } = home.sections.skills
---

<Section sectionKey={sectionKey} {...{ title, strong, faIcon }}>
  <SkillsStyled.Component>
    <Treeview />
    <Levels />
  </SkillsStyled.Component>
</Section>
