---
import * as ExternalLinkStyled from "./ExternalLink.styled";
import Icon from "@/components/Icon/Icon.astro";
import { VARS } from "@/styles";
import { type HandlingClass, asClassName } from "@/tools";

export interface Props {
  url: string;
  faIcon?: string;
  text: string;
  title: string;
  handlingClass?: HandlingClass;
}

const { url, faIcon, text, title, handlingClass = [] } = Astro.props;
---

<ExternalLinkStyled.Component
  className={asClassName("glass", ...handlingClass)}
  href={url}
  title={title}
  target="_blank"
  rel="noopener"
>
  <div class="content" style={`--fa-rotate-angle: ${faIcon ? "" : "-45deg"};`}>
    <Icon
      faIcon={faIcon ? faIcon : "fa-solid fa-arrow-right fa-rotate-by"}
      style={{ size: VARS.component.button.xs.fontSize }}
    />
    <p>{text}</p>
  </div>
</ExternalLinkStyled.Component>
