.cmp-work-item {
  position: relative;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  &:hover > .cmp-auto-bg-image > img {
    scale: 1.0625;
  }

  > .cmp-auto-bg-image > img {
    transition: scale var(--pal-time-m) ease;
  }

  > .content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--layout-gutter);
    padding: var(--layout-gutter);

    > .tags {
      --gap: var(--pal-size-xs);
      --max-lines: 3;
      --cls-bg-color: var(--pal-color-gs-800);

      display: flex;
      flex-wrap: wrap;
      gap: var(--gap);
      max-height: calc(
        1.75rem * var(--max-lines) + var(--gap) * (var(--max-lines) - 1)
      );

      overflow: hidden;
    }
  }
}
