---
import './WorkItem.css'
import { Image } from 'astro:assets'
import TypePill from '@/components/TypePill/TypePill.astro'
import TechPill from '@/components/TechPill/TechPill.astro'
import type { InferEntrySchema } from 'astro:content'
import {
  getImgMetadata,
  validateImgMetadata,
  type Folder,
} from '@/tools/getImgMetadata.tool'

interface Props extends InferEntrySchema<'works'> {}

const { title, types, techs, imgs } = Astro.props
const { file, alt } = imgs[0]

const folder: Folder = 'works'
validateImgMetadata(folder, file)
---

<a class="cmp-work-item bg card" href="/">
  <div class="container-img">
    <Image src={getImgMetadata(folder, file)()} alt={alt} />
  </div>
  <div class="content">
    <h3>
      {title}
    </h3>
    <ul class="tags">
      {types.map(typeKey => <TypePill {typeKey} />)}
      {techs.map(({ name }) => <TechPill {name} />)}
    </ul>
  </div>
</a>
