* {
  box-sizing: border-box;
  margin: 0;

  font-size: var(--global-font-size);
  line-height: 1;
  word-spacing: 0.03125rem;
  letter-spacing: calc(0.0625rem / 8);
  color: inherit;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--pal-color-base-white), 0.5) transparent;
}

html {
  text-rendering: optimizeLegibility;
  background-color: var(--pal-color-gs-900);
}

::selection {
  color: var(--pal-color-white);
  background-color: var(--pal-color-b);
}

:is(h1, h2, h3, h4) {
  display: inline-flex;
  flex-direction: column;

  line-height: 1.4375;
  font-family: var(--pal-font-b);
  font-weight: 450;
  text-wrap: balance;
  word-spacing: initial;
  letter-spacing: initial;
  color: var(--pal-color-gs-100);

  strong {
    font-family: var(--pal-font-a);
    font-weight: initial;
    color: var(--pal-color-a);
  }
}

h1,
h2 {
  gap: var(--pal-size-xs);

  font-size: clamp(var(--pal-size-font-m), 5dvw, var(--pal-size-font-2xl));

  strong {
    font-size: max(0.5em, var(--pal-size-font-m));
  }
}

h3 {
  gap: var(--pal-size-xs);

  font-size: var(--pal-size-font-m);

  strong {
    font-size: var(--pal-size-font-xs);
  }
}

address {
  font-style: initial;
}

ul,
ol {
  display: flex;
  padding: 0;

  list-style: none;
}

span {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.text {
  line-height: 1.4375;
  text-wrap: pretty;

  > strong {
    font-weight: 600;
    color: var(--pal-color-a-l2);

    transition: color var(--pal-time-s) ease-out;

    body[data-dark-mode="true"] & {
      font-weight: 500;
      color: var(--pal-color-a-l2);
    }
  }
}

.paragraphs {
  > * {
    margin-bottom: 1.75em;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.scrollable {
  --angle: 180deg;

  animation: progress-scrolling auto linear;

  scrollbar-width: thin;
  scrollbar-color: rgba(122, 122, 122, 0.25) transparent;
  animation-timeline: scroll(self);
}

.scrollable--inline {
  --angle: 90deg;

  animation-timeline: scroll(self inline);
}

@keyframes progress-scrolling {
  from {
    mask-image: linear-gradient(
      var(--angle),
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) var(--gradient-width),
      rgba(0, 0, 0, 1) calc(100% - var(--gradient-width)),
      rgba(0, 0, 0, 0) 100%
    );
  }
  0.001%,
  99.999% {
    mask-image: linear-gradient(
      var(--angle),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) var(--gradient-width),
      rgba(0, 0, 0, 1) calc(100% - var(--gradient-width)),
      rgba(0, 0, 0, 0) 100%
    );
  }
  to {
    mask-image: linear-gradient(
      var(--angle),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) var(--gradient-width),
      rgba(0, 0, 0, 1) calc(100% - var(--gradient-width)),
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.bg {
  --multiplier: 0.15;
  --bevel: inset 0 0 0 0.0625rem
      rgba(var(--pal-color-base-white), calc(0.075 * var(--multiplier))),
    inset 0.0625rem 0.0625rem 0 0
      rgba(var(--pal-color-base-white), calc(0.05 * var(--multiplier))),
    inset 0 0.0625rem 0 0
      rgba(var(--pal-color-base-white), calc(0.075 * var(--multiplier)));

  background-color: var(--pal-color-gs-850);
  box-shadow: var(--bevel);
}

.card {
  border-radius: var(--pal-size-s);
  box-shadow: var(--pal-shadow-1), var(--bevel);

  &.bg {
    --multiplier: 1;
  }

  &.layout {
    position: relative;

    display: flex;
    gap: var(--layout-gutter);
    padding: var(--layout-gutter);
  }
}

.link {
  --arrow-width: 0.0625rem;
  --arrow-head-size: calc(var(--pal-size-m) - var(--decreasing-factor, 0rem));
  --arrow-line-length: calc(var(--arrow-head-size) * sqrt(2) * 1.125);
  --arrow-color-alpha: 0.5;
  --arrow-color: rgba(var(--pal-color-base-white), var(--arrow-color-alpha));

  position: relative;

  text-decoration: none;

  border-top-right-radius: 0 !important;

  &:hover {
    --arrow-color-alpha: 1;

    &::before {
      scale: 1;
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
  }

  &::before {
    width: var(--arrow-line-length);
    height: var(--arrow-width);
    translate: -0.03125rem;
    scale: 0;
    rotate: -45deg;

    background: linear-gradient(90deg, transparent, var(--arrow-color));
    transform-origin: top right;

    transition: scale var(--pal-time-s) ease-out;
  }

  &::after {
    border-style: solid;
    border-top-width: var(--arrow-width);
    border-right-width: var(--arrow-width);
    border-image: linear-gradient(45deg, transparent 50%, var(--arrow-color)) 1;
    aspect-ratio: 1;
    width: var(--arrow-head-size);

    transition: border-image var(--pal-time-s) ease-out;
  }

  &.s {
    --decreasing-factor: var(--pal-size-xs);
  }
}
