:root {
  --scrollbar-width: var(--size-not-font-3xs);
  --scrollbar-padding: var(--size-not-font-3xs);
  --scrollbar-size: calc(var(--scrollbar-width) + var(--scrollbar-padding) * 2);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  font-size: var(--size-font-s);
  line-height: 1;
  /* letter-spacing: calc(0.0625rem / 4); */
  word-spacing: 0.0625rem;
  color: inherit;
}

::selection {
  background-color: var(--color-d);
  color: var(--color-g-0);
}

:is(h2, h5),
:is(h2, h5) > * {
  color: var(--color-b);
}

:is(h1, h2, h3, h4),
:is(h1, h2, h3, h4) > * {
  font-family: var(--font-s);
  font-weight: 700;
  letter-spacing: initial;
  word-spacing: initial;
}

:is(h1, h2, h3, h4, h5),
:is(h1, h2, h3, h4, h5) > * {
  margin: 0;
}

body {
  position: relative;
  font-family: var(--font-p);
  background-color: var(--color-g-1);
  transition: background-color var(--time-microint-s) ease-out;

  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--size-not-font-6xl);
    border-width: var(--scrollbar-padding);
    border-style: solid;
    border-color: var(--color-g-1);
    background-color: var(--color-g-6);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-g-10);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--color-g-19);
  }

  &[data-dark-mode="true"] {
    background-color: var(--color-g-16);

    &::-webkit-scrollbar-thumb {
      border-color: var(--color-g-16);
      background-color: var(--color-g-14);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-g-12);
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: var(--color-g-0);
    }
  }
}

h1,
h1 > * {
  font-size: var(--size-font-2xl);
}

h2,
h2 > * {
  font-size: var(--size-font-l);
}

h3,
h3 > * {
  font-size: var(--size-font-xl);
}

h4,
h4 > * {
  font-size: var(--size-font-l);
}

h5,
h5 > * {
  font-size: var(--size-font-xs);
  font-weight: normal;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

.text {
  line-height: 1.4375;

  strong {
    font-weight: 600;
    color: var(--color-b-d2);
    transition: color var(--time-microint-s) ease-out;

    body[data-dark-mode="true"] & {
      color: var(--color-b-b2);
    }
  }
}

.paragraphs {
  > * {
    margin-bottom: 1em;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.background-pictures {
  background-image: url("/bg_pattern.png");
  background-color: var(--color-g-2);
  transition: background-color var(--time-microint-s) ease-out;

  body[data-dark-mode="true"] & {
    background-image: url("/bg_pattern_dark.png");
    background-color: var(--color-g-15);
  }
}
