* {
  box-sizing: border-box;
  margin: 0;

  font-size: var(--global-font-size);
  line-height: 1;
  word-spacing: 0.03125rem;
  letter-spacing: calc(0.0625rem / 8);
  color: inherit;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--pal-color-base-white), 0.5) transparent;
}

html {
  text-rendering: optimizeLegibility;
  background-color: var(--pal-color-gs-900);
}

::selection {
  color: var(--pal-color-gs-0);
  background-color: var(--pal-color-b-d2);
}

:is(h1, h2, h3, h4) {
  display: flex;
  flex-direction: column;

  font-family: var(--pal-font-b);
  font-weight: 450;
  word-spacing: initial;
  letter-spacing: initial;
  color: var(--pal-color-gs-100);

  span {
    font-family: var(--pal-font-a);
    font-weight: initial;
    color: var(--pal-color-a);
  }
}

h2 {
  gap: var(--pal-size-xs);

  font-size: var(--pal-size-font-2xl);

  span {
    font-size: var(--pal-size-font-m);
  }
}

h3 {
  gap: var(--pal-size-xs);

  font-size: var(--pal-size-font-m);

  span {
    font-size: var(--pal-size-font-xs);
  }
}

address {
  font-style: initial;
}

ul,
ol {
  display: flex;
  padding: 0;

  list-style: none;
}

span {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.text {
  line-height: 1.4375;
  text-wrap: pretty;

  strong {
    font-weight: 600;
    color: var(--pal-color-a-l2);

    transition: color var(--pal-time-s) ease-out;

    body[data-dark-mode="true"] & {
      font-weight: 500;
      color: var(--pal-color-a-l2);
    }
  }
}

.paragraphs {
  > * {
    margin-bottom: 1em;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.scrollable {
  --angle: 180deg;

  animation: progress-scrolling auto linear;

  scrollbar-width: thin;
  scrollbar-color: rgba(122, 122, 122, 0.25) transparent;
  animation-timeline: scroll(self);
}

.scrollable--inline {
  --angle: 90deg;

  animation-timeline: scroll(self inline);
}

@keyframes progress-scrolling {
  from {
    mask-image: linear-gradient(
      var(--angle),
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) var(--gradient-width),
      rgba(0, 0, 0, 1) calc(100% - var(--gradient-width)),
      rgba(0, 0, 0, 0) 100%
    );
  }
  0.001%,
  99.999% {
    mask-image: linear-gradient(
      var(--angle),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) var(--gradient-width),
      rgba(0, 0, 0, 1) calc(100% - var(--gradient-width)),
      rgba(0, 0, 0, 0) 100%
    );
  }
  to {
    mask-image: linear-gradient(
      var(--angle),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) var(--gradient-width),
      rgba(0, 0, 0, 1) calc(100% - var(--gradient-width)),
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.card {
  position: relative;

  background-color: var(--pal-color-gs-850);
  box-shadow: var(--pal-shadow-1), var(--highlight);
  overflow: hidden;

  &.highlight {
    --highlight: inset 0 0 0 0.0625rem rgba(var(--pal-color-base-white), 0.075),
      inset 0.0625rem 0.0625rem 0 0 rgba(var(--pal-color-base-white), 0.05),
      inset 0 0.0625rem 0 0 rgba(var(--pal-color-base-white), 0.075);
  }
}

.link {
  --arrow-width: 0.0625rem;
  --arrow-head-size: calc(var(--pal-size-m) - var(--decreasing-factor, 0rem));
  --arrow-line-length: calc(var(--arrow-head-size) * sqrt(2) * 1.125);

  text-decoration: none;

  border-top-right-radius: 0 !important;

  &:hover {
    &::before {
      scale: 1;
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
  }

  &::before {
    width: var(--arrow-line-length);
    height: var(--arrow-width);
    translate: -0.03125rem;
    scale: 0;
    rotate: -45deg;

    transition: scale var(--pal-time-s) ease-out;

    background: linear-gradient(90deg, transparent, var(--pal-color-white));
    transform-origin: top right;
  }

  &::after {
    border-style: solid;
    border-top-width: var(--arrow-width);
    border-right-width: var(--arrow-width);
    border-image: linear-gradient(
        45deg,
        transparent 50%,
        var(--pal-color-white)
      )
      1;
    aspect-ratio: 1;
    width: var(--arrow-head-size);
  }

  &.s {
    --decreasing-factor: var(--pal-size-xs);
  }
}
