---
import './_resume.css'
import Page from '@/layouts/Page/Page.astro'
import Section from '@/layouts/Section/Section.astro'
import { highlightToHTMLTag } from '@/tools'
import jsonData from '@/content/data.json'

const { head, title, strong, faIcon, desc } = jsonData.pages.resume
---

<Page {head}>
  <Section {...{ title, strong, faIcon }}>
    <div class="bg card layout">
      <div class="paragraphs">
        {
          desc.map(item => (
            <p class="text" set:html={highlightToHTMLTag(item)} />
          ))
        }
      </div>
    </div>
    <embed
      class="cv"
      src="/CV - Juan Agustín Lovera - g_fswd_v1.pdf"
      type="application/pdf"
    />
  </Section>
</Page>
