---
import './SocialNet.css'
import Icon from '@/components/Icon/Icon.astro'

interface Props {
  title: string
  faIcon: string
  url: string
}

const { title, faIcon, url } = Astro.props
---

<a
  class="cmp-social-net bg link s"
  title={title}
  href={url}
  target="_blank"
  rel="noopener"
>
  <Icon faIcon={faIcon} />
</a>
