.cmp-social-net {
  --cmp-icon-size: var(--pal-size-font-m);

  align-content: center;
  aspect-ratio: 1;
  width: var(--pal-size-2xl);

  color: rgba(var(--pal-color-base-white), 0.8);

  border-radius: 0.375rem;

  > * {
    margin-inline: auto;
  }
}
