:root {
  --cmp-icon-size: var(--pal-size-s);
}

.cmp-icon {
  --fa-display: flex;

  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--cmp-icon-size);

  font-size: var(--cmp-icon-size);
}
