.cmp-experience {
  display: flex;
  flex-direction: column;
  gap: calc(var(--layout-gutter) * 2);

  > .cmp-auto-bg-image {
    aspect-ratio: 16 / 9;
  }

  > .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--layout-gutter) * 4);

    > header {
      display: flex;
      flex-direction: column;
      gap: calc(var(--layout-gutter) * 2);
    }

    > .desc {
      strong {
        font-weight: 600;
        color: var(--pal-color-a-l2);
      }

      > *,
      > ul > li {
        margin-bottom: 1.75em;

        line-height: 1.5;
        text-wrap: pretty;

        &:last-child {
          margin-bottom: 0;
        }
      }

      > ul {
        display: block;

        padding-left: 1.125rem;

        > li {
          list-style: initial;

          > strong:first-child {
            color: var(--pal-color-b-l1);
          }
        }
      }
    }

    > .techs {
      display: flex;
      flex-wrap: wrap;
      gap: var(--pal-size-xs);
    }
  }
}
