---
import * as SocialNetworkStyled from "./SocialNetwork.styled";
import Icon from "@/components/Icon/Icon.astro";
import { FONT_SIZE } from "@/styles";

interface Props {
  href: string;
  iconName: string;
  title: string;
}

const { href, iconName, title } = Astro.props;
---

<SocialNetworkStyled.Component
  className="glass"
  title={title}
  href={href}
  target="_blank"
  rel="noopener"
>
  <div class="content">
    <Icon iconName={iconName} style={{ size: FONT_SIZE.m }} />
  </div>
</SocialNetworkStyled.Component>
