.education-item {
  flex-direction: column;
  justify-content: space-between;

  ul {
    flex-wrap: wrap;
    row-gap: var(--pal-size-xs);
    column-gap: var(--pal-size-xl);

    li {
      display: flex;
      align-items: center;
      gap: var(--pal-size-s);

      .cmp-icon {
        color: var(--pal-color-gs-200);
      }

      time {
        font-size: var(--pal-size-font-xs);
      }
    }
  }
}
