.cmp-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--layout-gutter) * 2);
  padding-bottom: var(--layout-gutter);

  .text {
    font-size: var(--pal-size-font-xs);
  }

  .sections {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--layout-gutter) * 2);

    > .gracias {
      flex-grow: 2;
      flex-basis: 8rem;
      align-self: center;

      display: flex;
      flex-wrap: wrap;
      gap: var(--pal-size-2xs);
    }

    article {
      display: flex;
      flex-direction: column;
      gap: var(--layout-gutter);

      h4 {
        white-space: nowrap;
      }
    }

    .acknowledgments {
      flex-grow: 1;
      flex-basis: 20rem;

      > div {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--pal-size-m);
        column-gap: var(--pal-size-l);

        > p {
          flex-grow: 1;
          flex-basis: 25rem;
        }

        ul {
          flex-direction: column;

          li p {
            display: flex;
            gap: var(--pal-size-s);

            text-wrap: initial;

            .emoji {
              flex-shrink: 0;

              display: inline-flex;
              justify-content: center;
              width: var(--pal-size-s);
            }
          }
        }
      }
    }

    .others-pages .cmp-link {
      color: var(--pal-color-a-l2);

      transition: color var(--pal-time-s) ease-out;

      &:hover {
        color: var(--pal-color-white);
      }
    }
  }

  > .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: var(--pal-size-xs);
    column-gap: var(--pal-size-l);
  }
}
