---
import * as LevelDescsStyled from "./LevelDescs.styled";
import jsonData from "@/data.json";

const { levels } = jsonData.pages.home.sections.skills.data;
---

<LevelDescsStyled.Component>
  {
    levels.map(({ level, desc }) => (
      <div class="item">
        <label class="toggle">
          <input class="level-toggle" type="checkbox" checked />
          <span class="ui" />
          {level}
        </label>
        <p class="text">{desc}</p>
      </div>
    ))
  }
</LevelDescsStyled.Component>

<script>
  const levelToggles =
    window.document.querySelectorAll<HTMLInputElement>(".level-toggle");
  const skillTreeview =
    window.document.querySelector<HTMLElement>("#skill-treeview");

  if (levelToggles && skillTreeview) {
    levelToggles.forEach((toggle, index) => {
      toggle.addEventListener("change", (event) => {
        const element = event.target as HTMLInputElement;
        const { checked } = element;

        skillTreeview.style.setProperty(
          `--level-${index}-opacity`,
          checked ? "1" : "0.25",
        );
      });
    });
  }
</script>
