---
import './Levels.css'
import jsonData from '@/data.json'

const { levels } = jsonData.pages.home.sections.skills.data
---

<fieldset class="levels">
  {
    levels.map(({ level, desc }) => (
      <label class="bg card layout">
        <input class="level-toggle" type="checkbox" checked />
        <div class="group">
          <span />
          {level}
        </div>
        <p class="text">{desc}</p>
      </label>
    ))
  }
</fieldset>

<script>
  import { $$, onPageLoad } from '@/tools'

  onPageLoad(() => {
    const levelToggles = $$<HTMLInputElement>('.level-toggle')
    const treeviews = $$<HTMLElement>('.cmp-treeview')

    levelToggles.forEach((toggle, index) => {
      toggle.onchange = event => {
        const element = event.target as HTMLInputElement
        const { checked } = element

        treeviews.forEach(treeview =>
          treeview.style.setProperty(
            `--level-${index}-opacity`,
            checked ? '1' : '0.25'
          )
        )
      }
    })
  })
</script>
