---
import './PropsSection.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<section class="cmp-props-section">
  <h4>{title}:</h4>
  <ul>
    <slot />
  </ul>
</section>
