---
import * as BarMenuStyled from "./BarMenu.styled";
import Link, { type Props as LinkProps } from "@/components/Link/Link.astro";
import Separator from "@/components/Separator/Separator.astro";
import { VARS } from "@/styles";

interface Props {
  linksData: {
    home: LinkProps[];
    resume: LinkProps;
  };
}

const { home, resume } = Astro.props.linksData;
---

<BarMenuStyled.Component className="glass">
  <nav>
    {home.map((item) => <Link {...item} />)}
    <Separator
      style={{
        invert: true,
        long: VARS.global.fontSize,
        color: {
          light: VARS.color.a.line.light,
          dark: VARS.color.a.line.dark,
        },
      }}
    />
    <Link {...resume} />
  </nav>
</BarMenuStyled.Component>
