---
import './Nav.css'
import Hamburger from './components/Hamburger/Hamburger.astro'
import Links from '@/components/Links/Links.astro'
import SocialNets from '@/components/SocialNets/SocialNets.astro'
import ContactLink from '@/components/ContactLink/ContactLink.astro'
import ToggleDarkMode from '@/components/ToggleDarkMode/ToggleDarkMode.astro'
---

<Hamburger />
<header class="cmp-header">
  <!-- <ScrollUp /> -->
  <button class="backdrop" title="Cerrar menú"></button>
  <nav class="bg card layout">
    <Links />
    <SocialNets />
    <div>
      <ContactLink />
      <ToggleDarkMode />
    </div>
  </nav>
</header>

<script>
  import { $ } from '@/tools'

  const hamburger = $<HTMLButtonElement>('.cmp-hamburger')
  const backdrop = $<HTMLButtonElement>('.backdrop')
  const header = $<HTMLButtonElement>('.cmp-header')

  if (hamburger && backdrop && header) {
    hamburger.addEventListener('click', () => {
      header.classList.add('open')
    })

    backdrop.addEventListener('click', () => {
      header.classList.remove('open')
    })
  }
</script>
