.cmp-header {
  position: sticky;
  top: 0;

  align-content: center;
  height: 100dvh;

  @media (width < 67.5rem) {
    position: fixed;
    left: 100%;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    background-color: var(--pal-color-black);
    opacity: 0;

    transition:
      opacity var(--pal-time-s) ease-out,
      display var(--pal-time-s) ease-out allow-discrete;
  }

  > nav {
    flex-direction: column;

    transition: translate var(--pal-time-m) ease;

    .cmp-links {
      flex-direction: column;
      gap: var(--pal-size-xl);
      padding: var(--pal-size-xs);
    }
  }

  &.open {
    .backdrop {
      display: initial;

      opacity: 0.5;

      @starting-style {
        opacity: 0;
      }
    }

    > nav {
      translate: calc((100% + var(--pal-size-m)) * -1) 0;
    }
  }
}
