.cmp-work-item {
  --reducer: 0;

  position: relative;

  grid-column: span max(calc(var(--span-columns) - var(--reducer)), 1);
  grid-row: span max(round(calc(var(--span-rows) - var(--reducer) / 2)), 1);

  container: work-item / size;
  display: flex;
  flex-direction: column;

  overflow: hidden;

  > .cmp-auto-bg-image > img {
    transition: scale var(--pal-time-m) ease;
  }

  > .content {
    --max-lines: 3;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--layout-gutter);
    padding: var(--layout-gutter);

    transition:
      background-color var(--pal-time-m) ease,
      backdrop-filter var(--pal-time-m) ease;

    > h3 {
      transition: opacity var(--pal-time-m) ease;
    }

    > .tags {
      --gap: var(--pal-size-xs);
      --cls-bg-color: var(--pal-color-gs-800);

      display: flex;
      flex-wrap: wrap;
      gap: var(--gap);
      max-height: calc(
        1.75rem * var(--max-lines) + var(--gap) * (var(--max-lines) - 1)
      );

      overflow: hidden;
    }
  }

  &:hover > .cmp-auto-bg-image > img {
    scale: 1.0625;
  }

  @media (width <= 50rem) {
    --reducer: 1;
  }

  @media (width <= 32rem) {
    --reducer: 2;
  }

  @container (height <= 11rem) {
    > .content {
      --max-lines: 2;

      position: absolute;

      width: 100%;
      height: 100%;
      gap: var(--pal-size-xs);
      padding: var(--pal-size-xs);

      > h3 {
        padding: var(--pal-size-xs);

        font-size: var(--pal-size-font-m);
        color: var(--pal-color-white);

        opacity: 0;
      }

      @container (22rem <= width) {
        --max-lines: 1;
      }
    }

    &:hover > .content {
      background-color: rgba(var(--pal-color-base-black), 0.5);
      backdrop-filter: blur(0.125rem);

      > h3 {
        opacity: initial;
      }
    }
  }
}
