---
import * as TreeviewStyled from "./Treeview.styled";
import Node from "./components/Node/Node.astro";
import jsonData from "@/data.json";

const { techs } = jsonData.pages.home.sections.skills.data;
---

<TreeviewStyled.Component className="glass" id="skillsTreeview">
  <ul class="items">
    {
      techs.map((tech) => (
        <li>
          <Node dataNode={tech} />
        </li>
      ))
    }
  </ul>
</TreeviewStyled.Component>
