---
import * as TreeviewStyled from "./Treeview.styled";
import Node from "./components/Node/Node.astro";
import jsonData from "@/data.json";

const { data } = jsonData.pages.home.sections.skills.subsections.technologies;
---

<TreeviewStyled.Component className="glass" id="skillsTreeview">
  <ul class="items">
    {
      data.map((item) => (
        <li>
          <Node dataNode={item} />
        </li>
      ))
    }
  </ul>
</TreeviewStyled.Component>
