.tech {
  display: flex;
  align-items: center;
  gap: var(--pal-size-s);
  padding-inline: var(--pal-size-s);
  height: 1.75rem;

  border-radius: var(--pal-size-2xs);

  transition: background-color var(--pal-time-s) ease-out;

  &,
  > * {
    font-size: var(--pal-size-font-xs);
  }
}
