:root {
  --cmp-tech-height: 1.75rem;
  --cmp-tech-color: rgba(var(--pal-color-base-a), 0.1);
}

.cmp-tech {
  display: flex;
  align-items: center;
  gap: var(--pal-size-s);
  padding-inline: var(--pal-size-s);
  height: 1.75rem;

  border-radius: var(--pal-size-2xs);
  background-color: var(--cmp-tech-color);

  &,
  > * {
    font-size: var(--pal-size-font-xs);
  }
}
