---
import './Node.css'
import { Image } from 'astro:assets'
import Separator from '@/components/Separator/Separator.astro'
import {
  getImgMetadata,
  validateImgMetadata,
  type Folder,
} from '@/tools/getImgMetadata.tool'
import type { DataNode, Tech, TechKey } from '../../../../types/dataNode'
import jsonData from '@/content/data.json'

const { techs } = jsonData.pages.home.sections.techs.data

interface Props {
  dataNode: DataNode
  level?: number
}

const { dataNode, level = 0 } = Astro.props

const [techKey, dataNodes] =
  typeof dataNode === 'string'
    ? [dataNode, undefined]
    : [Object.keys(dataNode)[0] as TechKey, Object.values(dataNode)[0]]

const tech = techs[techKey] as Tech
const { items, level: skillLevel } = tech

const folder: Folder = 'techs'
items.forEach(({ img }) => validateImgMetadata(folder, img.file))
---

<div class="cmp-node">
  <div
    class="tech"
    style={{
      '--node-level': level,
      opacity: `var(--level-${skillLevel - 1}-opacity)`,
    }}
  >
    <div class="names">
      {
        items.map(({ name }, index) => (
          <>
            <p>{name}</p>
            {index !== items.length - 1 && <Separator invert />}
          </>
        ))
      }
    </div>
    <div class="graphics">
      <div class="icons">
        {
          items.map(({ name, img }, index) => (
            <Image
              class:list={[
                'icon',
                { 'invert-in-dark-mode': img.invertInDarkMode },
              ]}
              src={getImgMetadata(folder, img.file)()}
              alt={`Logo de ${name}`}
            />
          ))
        }
      </div>
      <div class="level-bar">
        <span class="bar" style={{ width: `${(skillLevel / 3) * 100}%` }}
        ></span>
      </div>
    </div>
  </div>
  {
    dataNodes && (
      <ul class="techs-children">
        {dataNodes.map(tech => (
          <li>
            <span class="bullet-point" />
            <Astro.self dataNode={tech} level={level + 1} />
          </li>
        ))}
      </ul>
    )
  }
</div>
