body {
  position: relative;

  font-size: var(--pal-size-font-s);
  font-family: var(--pal-font-a);
  font-weight: 300;
  color: rgba(var(--pal-color-base-white), 0.75);

  > .layout {
    --layout-max-width: 68rem;
    --layout-margin-inline: 4rem;
    --layout-gutter: var(--pal-size-l);
    --layout-section-gap: 16rem;
    --layout-padding-top: calc(
      var(--cmp-hamburger-size) + var(--cmp-hamburger-gap) * 2
    );

    display: flex;
    justify-content: center;

    /* Mobile */
    @media (width <= 26.5625rem) {
      --layout-margin-inline: 1.25rem;
    }

    > .content {
      display: flex;
      flex-direction: column;
      gap: calc(var(--layout-section-gap) * 1.5);
      max-width: calc(
        var(--layout-max-width) + var(--layout-margin-inline) * 2
      );
      min-height: 100dvh;

      overflow-y: hidden;

      > * {
        padding-inline: var(--layout-margin-inline);

        transition: padding var(--pal-time-m) ease;
      }

      main {
        display: flex;
        flex-direction: column;
        gap: var(--layout-section-gap);
        padding-top: var(--layout-padding-top);

        > section {
          &:nth-of-type(1) {
            scroll-margin-top: 100dvh;
          }

          &:not(:nth-of-type(1)) {
            scroll-margin-top: var(--layout-margin-inline);
          }
        }
      }
    }
  }
}
