body {
  position: relative;

  font-family: var(--pal-font-a);
  font-weight: 300;
  color: rgba(var(--pal-color-base-white), 0.625);

  > .layout {
    --layout-max-width: 68rem;
    --layout-margin-inline: 4rem;
    --layout-gutter: var(--pal-size-xl);
    --layout-section-gap: 16rem;

    display: flex;
    justify-content: center;

    /* Mobile */
    @media (width <= 26.5625rem) {
      --layout-margin-inline: 1.25rem;
      --layout-gutter: var(--pal-size-l);
    }

    > .content {
      display: flex;
      flex-direction: column;
      gap: var(--layout-section-gap);
      max-width: calc(
        var(--layout-max-width) + var(--layout-margin-inline) * 2
      );
      min-height: 100dvh;

      overflow-y: hidden;

      main {
        display: flex;
        flex-direction: column;
        gap: var(--layout-section-gap);
        padding-inline: var(--layout-margin-inline);

        transition: padding-inline var(--pal-time-m) ease;

        > section {
          &:nth-of-type(1) {
            /* scroll-margin-top: var(--pal-size-3xl); */
          }

          &:not(:nth-of-type(1)) {
            scroll-margin-top: var(--layout-margin-inline);
          }
        }
      }
    }
  }
}
