---
import './ContactLink.css'
import Icon from '../Icon/Icon.astro'
import jsonData from '@/data.json'

export interface Props {
  emailSender?: boolean
}

const { emailSender = false } = Astro.props

const { sections } = jsonData.pages.home
const sectionKey: keyof typeof sections = 'contact'

const { email } = sections.contact.data
---

<a
  class="cmp-contact-link"
  href={emailSender ? `mailto:${email}` : `/#${sectionKey}`}
  title={emailSender ? 'Enviar correo' : 'Contáctame'}
>
  <Icon faIcon="fa-solid fa-paper-plane" />
</a>
