---
import './ToggleDarkMode.css'
import Icon from '@/components/Icon/Icon.astro'
---

<button class="cmp-toggle-dark-mode" title="Alternar tema">
  <div class="switch">
    <Icon faIcon="fa-solid fa-sun" handlingClass="sun" />
    <Icon faIcon="fa-solid fa-moon" handlingClass="moon" />
  </div>
</button>

<script>
  import { darkModeEntity } from '@/services'
  import { bodyManager } from '@/tools/elementManagers.tool'
  import { $$ } from '@/tools'

  const toggleDarkModeList = $$('.cmp-toggle-dark-mode')

  toggleDarkModeList.forEach(item =>
    item.addEventListener('click', () => {
      const reverseDarkMode = !(bodyManager.data.darkMode.get() === 'true')

      bodyManager.data.darkMode.set(String(reverseDarkMode))
      darkModeEntity.set(reverseDarkMode)
    })
  )
</script>
