---
import * as GlassPanelStyled from "./GlassPanel.styled";
import { HandlingClass, asClassName } from "@/tools";

interface Props {
  handlingClass?: HandlingClass;
  style?: GlassPanelStyled.Props;
}

const { handlingClass, style = {} } = Astro.props;
---

<GlassPanelStyled.Component
  className={asClassName(handlingClass)}
  p={GlassPanelStyled.adapter(style)}
>
  <div class="glass-refleccion"></div>
  <div class="content"><slot /></div>
</GlassPanelStyled.Component>
