---
import * as GlassPanelStyled from "./GlassPanel.styled";
import { type HandlingClass, asClassName } from "@/tools";

interface Props {
  style?: GlassPanelStyled.Props;
  handlingClass?: HandlingClass;
}

const { style = {}, handlingClass = [] } = Astro.props;
---

<!-- TODO: semantica HTML -->
<GlassPanelStyled.Component
  p={GlassPanelStyled.adapter(style)}
  className={asClassName(...handlingClass)}
>
  <div class="glass-refleccion"></div>
  <div class="content"><slot /></div>
</GlassPanelStyled.Component>
