---
import * as HamburgerMenuStyled from "./HamburgerMenu.styled";
import Hamburger from "./components/Hamburger/Hamburger.astro";
import Separator, {
  type Props as SeparatorProps,
} from "@/components/Separator/Separator.astro";
import Link, { type Props as LinkProps } from "@/components/Link/Link.astro";
import ToggleDarkMode from "@/components/ToggleDarkMode/ToggleDarkMode.astro";
import SocialNetwork from "@/components/SocialNetwork/SocialNetwork.astro";
import { VARS } from "@/styles";
import jsonData from "@/data.json";

interface Props {
  linksData: {
    home: LinkProps[];
    resume: LinkProps;
  };
}

const { home, resume } = Astro.props.linksData;
const { externalNetwork } = jsonData;

const separatorProps: SeparatorProps = {
  style: {
    color: {
      light: VARS.color.b.line.light,
      dark: VARS.color.b.line.dark,
    },
  },
};
---

<!-- TODO: semantica HTML -->
<HamburgerMenuStyled.Component>
  <button class="deep-touch" id="deepTouch" title="Cerrar menú"></button>
  <header class="adaptable">
    <div class="content">
      <div class="controls">
        <Hamburger />
        <ToggleDarkMode />
      </div>
      <Separator {...separatorProps} />
      <nav>
        {home.map((item) => <Link {...item} />)}
        <Separator {...separatorProps} />
        <Link {...resume} />
        <Separator {...separatorProps} />
        <div class="external-networks">
          {
            externalNetwork.map(({ url, faIcon, title }) => (
              <SocialNetwork
                href={url}
                faIcon={faIcon}
                title={`Ir al perfil de ${title}`}
              />
            ))
          }
        </div>
      </nav>
    </div>
  </header>
</HamburgerMenuStyled.Component>

<script>
  import { bodyManager } from "@/tools/elementManagers.tool";

  const deepTouch = window.deepTouch as HTMLButtonElement;

  const deepTouchHandleClick = () => {
    bodyManager.setData("hamburgerMenuIsOpen", "false");
  };

  deepTouch.addEventListener("click", deepTouchHandleClick);
</script>
